name: CD E

on:
  push:
    branches:
      - production

jobs:
  deploy:
    name: Deploy to VPS
    runs-on: ubuntu-latest
    if: github.event_name == 'push'

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.E_HOST }}
          username: ${{ secrets.E_USERNAME }}
          password: ${{ secrets.E_PASSWORD }}
          script: |
            echo "${{ secrets.E_PASSWORD }}" | sudo -S bash -c '
            export PATH=/root/.nvm/versions/node/v22.12.0/bin:/usr/bin:$PATH
            cd /root/bot_de

            git fetch origin
            git checkout production
            git pull origin production

            source venv/bin/activate
            pip install -r requirements.txt

            pm2 restart bot_d
            '
